.big-numbers {
	display:flex;

	.number{
		// padding-right: 20px;
		text-align:center;
		width:320px;
		margin-top:10px;	
		
		dt{
			@include sans-serif-text(55px, 1em, bold);
			// margin-bottom:10px;
		}

		dd{
			@include sans-serif()
		}


		&--this-year{
			dt{
				color:$trib_blue2;
			}
		}
	}
}