
// Basic structure variables
$number_of_columns: 3;
$gutter_width: 25px;

// For unity of colors
$last_year_color: #e0e0e0;
$current_year_color: $trib-blue2;
$fatal_color: $trib-red2;

// Breakpoints
$tablet_min_width: 450px;
$desktop_min_width: 850px;

$mobile_max_width: $tablet_min_width - 1;
$tablet_max_width: $desktop_min_width - 1;

$mobile_max_width: $tablet_min_width - 1;
$tablet_max_width: $desktop_min_width - 1;

// Chart heights
$chart_height_default: 250px;
$ytd_chart_height: 350px;
$cause_of_death_chart_height: 300px;
$cause_of_death_chart__mobile_height: 450px;

// Year-to-date chart
$ytd-table-width: 300px;
$ytd-border-width: 10px;
$ytd-highlight-total-years: 6;
// $scrubber_height: 30px;

// MAP
$map_height: 100%;
$map_min_height: 350px;

// Victim list
$victim_inner_padding: 10px;