
// The filter button container
.trb_mainContent .filters{
	margin: 25px 0;
	display:grid;
	grid-template-columns: 1fr;
	grid-gap: 25px;
    grid-column: 1/-1; // make the container itself stretch fullwidth


	&__group--age{
		grid-column: 1/-1; // make this one fullwidth
	}

	&__group-label{
		@include sans-serif-text(16px, 1em, bold);
		margin-top: 0;
		text-align: center;
	}

}


.filter-button{
	border:none;
	background:#e0e0e0;
	display:block;
	padding: 10px 0;
	margin-bottom: 5px;
	text-align:center;
	width: 100%;
	cursor:pointer;
	transition:background 100ms ease;

	&:last-child{
		margin-bottom:0;
	}

	&:hover{
		background: $trib-blue4;
	}

	&[data-checked="true"], &:hover[data-checked="true"]{
		transition:background 100ms ease;
		background: $trib-blue2;
		color:white;
	}
}

// format the slider and label
.noUi-connect{ background: $slider-background-color; }

.trb_mainContent .age-slider{
	@include clearfix();
	&__label{
		@include sans-serif-text(16px, 1em, bold);
		text-align: center;
		padding: 5px;
	    margin: 7px 0 0 0;
	    border-radius: 5px;
		width: 40px;
		background: rgba($slider-background-color, .5);
		color:white;
		
	    &--left{
    	    float: left;
	    }
	    &--right{
	    	float: right;
	    }
	}
}


@media all and (min-width: $tablet-min-width){
	
}

@media all and (min-width: 600px){

}

@media all and (min-width: $desktop-min-width){
	.trb_mainContent .filters{
		grid-template-columns: repeat(3, 1fr);
	}
}