$map_height: 600px;
$list_width: 270px;
$list_gutter: 0;
$list_padding:20px;

.trb_mainContent .map{
	display:flex;
	justify-content: space-between;
	align-items:stretch;
	flex-wrap:nowrap;

	&__link{
		display:block;
		padding: $list_padding 0;
	}

	&__map{
		// the actual map holder, filled by Leaflet
		width:72%; 
		width: calc(100% - #{$list_gutter} - #{$list_width} - #{$list_padding * 2});
		height:$map_height;
		background:#eee;
		padding: 25px;

		&:after{
			content:'\25C0';
			position:absolute;
			top: 150px;
			right: 0;
			font-size:20px;
			color:$trib-gray4;
			z-index: 1000;
			margin-right: -4px;
		}

	}

	&__victims{
		width: 25%;
		width: $list_width;
		height:$map_height;
		background:$trib-gray4;
		
		overflow:scroll; // Fallback
		overflow-y:scroll;
		overflow-x:hidden;
		
		padding: $list_padding;
		position:relative;

		ul{
			list-style-type:none;
			width: auto;
			margin:0;
			padding:0;
		}
	}

	&__victims-headline{
		@include label7();
		margin:0;
	}
}


.trb_mainContent .map ul li.victim{
	@include sans-serif();
	border-bottom:1px solid $trib-gray2;
	border-left: 3px solid transparent;

	&:last-child{
		padding-bottom:none;
		border-bottom:none;
	}

	&--highlight{
		border-left-color: $trib-red2;
		padding-left: ($list_padding - 3px) / 2;
		margin-left: ($list_padding - 3px) / -2;
	}

	p{
		@include sans-serif();
		margin:0;
	}
}

@media all and (max-width: 849px){
	.map{
		display:block;	

		&__map{
			width:auto;
			margin-bottom:25px;
		}

		&__victims{
			width: auto;
			height:auto;	
		}
	}
}
