$chart_margin_left: 50px;

.charts--monthly-table{
	// This is the table underneath the monthly chart
	table{
		@include trib-table(compressed);

		tr td{
			text-align: center;
			padding:0;
			// border:1px dashed #aaa;
			border-right: 1px solid black;
			
			width:calc((100% - #{$chart_margin_left}) / 12);

			&:first-child{
				text-align:left;
				width: $chart_margin_left; // this will align the table cells with the chart bars.
				padding:10px 0;
			}
			&:first-child, &:last-child{
				border-right:none;
			}
		}
	}
}