.ytd-highlight{
	background: white;
	border: 1px solid black;
	padding: 15px;
	width: 105px;
	opacity:0;
	position: absolute;
	top:0;
	left:70px;

	&__label{
		@include sans-serif()
		font-weight: bold;
		margin: 0 0 10px 0;
		padding:0;
	}

	&__table{
		@include trib-table(compressed);
		margin:0;
		
		tr:first-child td{
			// Make the first (i.e. current) row bold;
			font-weight: bold;
		}

		tr{
			td:last-child{
				// Numbers should be right aligned in tables. This selects that cell.
				text-align:right;
			}
		}
	}
}



.highlight-circle--2017{
	fill: $trib-blue2;
	stroke: $trib-blue2;
	stroke-width: 2;
}