@import 'base-variables';
@import 'base-mixins';
@include responsive_embed(16,9,25px);

//MAP STYLES GO HERE
.shooting-icon{
  height:10px;
  width:10px;
  background-color:$trib_blue2;
  border-radius: 50%;
  border:1px solid black;
  opacity:0.75;
}

//REST OF PROJECT STYLES
.category {
	h2{
    @include serif-text(30px, 1.3em, bold);
    margin-bottom:0px;
    margin-top:40px;
    }
	p{
		margin-top:3px;
	}
}

.big-numbers {
	display:flex;

	.number{
		padding-right: 20px;
		text-align:center;
		width:320px;	

		p.num2016 {
			@include sans-serif-text(55px, 1 em, bold);
			margin-top:20px;
			margin-bottom:0px;
		}
		p.num2017 {
			@include sans-serif-text(55px, 1 em, bold);
			margin-top:20px;
			margin-bottom:0px;
			color:$trib_blue2;
		}
		p.keynum{
			@include sans-serif-text(16px, 1.4em);
		}
	}
}

.map{
	@include responsive_embed(16,9,25px);
}



.trb_mainContent p{
	width:100%;
}

 

@media (min-width:720px){
      #g-cumulative-mobile{display:none}
      #g-cumulative-phablet{display:none}
      #g-cumulative-desktop{display:none} 
      #g-cumulative-large{display:block}
      #g-monthly-mobile{display:none}
      #g-monthly-phablet{display:none}
      #g-monthly-desktop{display:none} 
      #g-monthly-large{display:block}    
    }

@media (max-width:719px){
      #g-cumulative-mobile{display:none}
      #g-cumulative-phablet{display:none}
      #g-cumulative-desktop{display:block} 
      #g-cumulative-large{display:none}
      #g-monthly-mobile{display:none}
      #g-monthly-phablet{display:none}
      #g-monthly-desktop{display:block} 
      #g-monthly-large{display:none}  
    }
@media (max-width:579px){
      #g-cumulative-mobile{display:none}
      #g-cumulative-phablet{display:block}
      #g-cumulative-desktop{display:none} 
      #g-cumulative-large{display:none}
      #g-monthly-mobile{display:none}
      #g-monthly-phablet{display:block}
      #g-monthly-desktop{display:none} 
      #g-monthly-large{display:none}  

      .category{
        h2{@include serif-text(24px, 1.3em, bold);}
      }  
}
@media (max-width:429px){
      #g-cumulative-mobile{display:block}
      #g-cumulative-phablet{display:none}
      #g-cumulative-desktop{display:none} 
      #g-cumulative-large{display:none}
      #g-monthly-mobile{display:block}
      #g-monthly-phablet{display:none}
      #g-monthly-desktop{display:none} 
      #g-monthly-large{display:none}    
    }           
  



