@import 'base-variables';

$last_year_color: #e0e0e0;
$current_year_color: $trib-blue2;
$fatal_color: $trib-red2;


@import 'base-mixins';
@import 'responsive-font';

@import 'leaflet';

@import 'monthly-table';
@import 'page-topper';
@import 'year-to-date';
@import 'map';
@import 'time';

.chart {
  @include trib-chart();
  margin-bottom: 25px;
  padding-bottom:25px;
  border-bottom: 1px solid $trib-gray4;
  position: relative;
  
  &__headline{
    @include label5();
    margin: 0 0 7px 0;
  }
}

.chart--ytd  .chart__wrapper {
  height:300px;
  // background:#eee;
  margin: 0 0 10px 0;
  position:relative;
}

//MAP STYLES GO HERE
.shooting-icon{
  height:10px;
  width:10px;
  background-color:$trib_blue2;
  border-radius: 50%;
  // border:1px solid black;
  opacity:0.3;
}

//REST OF PROJECT STYLES
.category {
	h2{
    @include serif-text(30px, 1.3em, bold);
    margin-bottom:0px;
    margin-top:40px;
    }
	p{
		margin-top:3px;
	}
}
  .radials{
    display:flex;
    justify-content: space-between;
    margin-bottom: 25px;
    padding-bottom:25px;
    border-bottom: 1px solid #eee;
  }

  .radial{
    width: 32%;
    
    background: $trib-gray4;

    .container{
      height: 250px;
    }
    h2{
      text-align:center;
    }
}

.trb_mainContent p{
	width:100%;
}

 
.legend{
  @include trib-legend('inline');

  &__dot{
    @include trib_legend__box(0);
    margin-right: 6px;
    &--last-year{ background: $last_year_color}
    &--current-year{ background: $current_year_color}
  }
}

.trb_mainContent .credits, .credits{
  p {@include agate()}
}

@media (max-width:579px){
      .category{
        h2{@include serif-text(24px, 1.3em, bold);}
      }  
}


