{# To update the numbers on this page you should follow the directions here:
https://tribune.unfuddle.com/a#/projects/46/tickets/by_number/1262 #}

{% block content %}



<section class='title'>
{% include "subtemplates/_year-counter.html" %}
</section>
{{ intro|markdown }}
<figure class='chart chart--ytd'>
  <figcaption>
    <h2 class='chart__headline'>{{cumulative_headline}}</h2>
  </figcaption>
  <div id='ytd' class='chart__wrapper'>
    <div class='ytd-highlight'>
      <h3 class='ytd-highlight__label'>XXXXXXX</h3>
      <table id='ytd-highlight-table' class='ytd-highlight__table'></table>
    </div>
  </div>  
</figure>
{# ------------------------- #}
<figure class='chart chart--monthly'>
  <figcaption>
    <h2 class='chart__headline'>{{ monthly_headline }}</h2>
    {# {% include 'subtemplates/_monthly-legend.html' %} #}
  </figcaption>
  {# <div id='monthly' class='chart__wrapper'></div> #}
  <div id='monthly-table' class='charts--monthly-table'>
    {% include 'subtemplates/_monthly-table.html' %}
  </div>
</figure>
{# ------------------------- #}
<figure class='chart chart--map'>
  <figcaption>
    <h2 class='chart__headline'>{{ new_map_headline }}</h2>
    <div class='map-legend'>
      <span class='map-legend__label'>Toggle:</span>
      <button class='map-legend__button map-legend__button--checked' data-toggle="fatalShootingMarkers">  
        <span class='map-legend__dot map-legend__dot--fatal'></span>
        Fatal
      </button>
      <button class='map-legend__button map-legend__button--checked' data-toggle="nonFatalShootingMarkers">
        <span class='map-legend__dot map-legend__dot--non-fatal'></span>
        Non-fatal
      </button>
    </div>
  </figcaption>
    <div class='map'>
      <div class='map__map' id="map"></div>
      <div class='map__victims' id='map-victims'>
        {% include 'subtemplates/_victims-list.html' %}
      </div>
    </div>
</figure>




<section class='credits'>
  {{ source|markdown }}
  {{ tag|markdown }}
</section>

{% endblock content %}

{% block library_scripts %}
{# Uncomment this if you are using libraries such as jQuery #}
<script src="//{{ ROOT_URL }}/js/vendor.min.js"></script>
<script>
  window.ROOT_URL = "{{ ROOT_URL }}";
</script>
{% endblock %}

{% block scripts %}
{# Uncomment this if you are using custom JavaScript #}
<script>
(function(document) {
  window.ROOT_URL = "{{ ROOT_URL }}";

  var CSS = [
    "//{{ ROOT_URL }}/css/styles.css"
  ];
  CSS.forEach(function(url) {
    var link = document.createElement('link');
    link.setAttribute('rel', 'stylesheet');
    link.setAttribute('href', url);
    document.head.appendChild(link);
  });
})(document);
</script>
<script src="//{{ ROOT_URL }}/js/app.min.js"></script>
{% endblock scripts %}
