<!-- To update the numbers on this page you should follow the directions here:
https://tribune.unfuddle.com/a#/projects/46/tickets/by_number/1262 -->

{% block content %}

{{intro|markdown}}

<div class="category">
<h2>{{ytd_headline}}</h2>
</div>
<div class="big-numbers">
	
	<div class="number">
		<p class="num2016">{{'{:,}'.format(ytd_2016)}}</p>
		<p class="keynum">{{key_2016}}</p>
	</div>

	<div class="number">
		<p class="num2017">{{'{:,}'.format(ytd_2017)}}</p>
		<p class="keynum">{{key_2017}}</p>
	</div>

</div>
<div class="category">
<h2>{{cumulative_headline}}</h2>
{{cumulative_blurb|markdown}}
</div>
<div class='charts'>
{% include 'ai/ai2html-output/cumulative.html' %}
</div>

<div class="category">
<h2>{{monthly_headline}}</h2>
{{monthly_blurb|markdown}}
</div>

<div class='charts'>
  <div id='monthly' class='charts--monthly'></div>
  <div id='monthly-table' class='charts--monthly-table'>
    <table>
      <tr>
        <td><strong>2017</strong></td>
        <td>XX</td>
        <td>XX</td>
        <td>XX</td>
        <td>XX</td>
        <td>XX</td>
        <td>XX</td>
        <td>XX</td>
        <td>XX</td>
        <td>XX</td>
        <td>XX</td>
        <td>XX</td>
        <td>XX</td>
      </tr>
      <tr>
        <td><strong>2016</strong></td>
        <td>XX</td>
        <td>XX</td>
        <td>XX</td>
        <td>XX</td>
        <td>XX</td>
        <td>XX</td>
        <td>XX</td>
        <td>XX</td>
        <td>XX</td>
        <td>XX</td>
        <td>XX</td>
        <td>XX</td>
      </tr>
    </table>
  </div>
</div>

<div class="category">
<h2>{{map_headline}}</h2>
{{map_blurb|markdown}}
</div>
<div id="map" style="width:100%; height:600px;"></div>

{{source|markdown}}
{{tag|markdown}}

{% endblock content %}

{% block library_scripts %}
{# Uncomment this if you are using libraries such as jQuery #}
<script src="//{{ ROOT_URL }}/js/vendor.min.js"></script>
{% endblock %}

{% block scripts %}
{# Uncomment this if you are using custom JavaScript #}
<script>
(function(document) {
  window.ROOT_URL = "{{ ROOT_URL }}";

  var CSS = [
    "//{{ ROOT_URL }}/css/leaflet.css",
    "//{{ ROOT_URL }}/css/styles.css"
  ];
  CSS.forEach(function(url) {
    var link = document.createElement('link');
    link.setAttribute('rel', 'stylesheet');
    link.setAttribute('href', url);
    document.head.appendChild(link);
  });
})(document);
</script>
<script src="//{{ ROOT_URL }}/js/leaflet.js"></script>
<script src="//{{ ROOT_URL }}/js/app.min.js"></script>
{% endblock scripts %}
